.super-mario {
    width: 200px;
    left: 30px;
    position: absolute;
    z-index: 1;
    
  }
  
  .goomba {
    width: 100px;
    margin-top: 230px;
    margin-left: 200px;
    position: absolute;
    z-index: 2;
    

  }
  
  .baloon {
  margin-left: 400px;
  position: absolute; 
  margin-top: 15px;
  z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    margin-left: 415px;
    margin-top: 30px;
  }
  
  .bowser {
    width: 200px;
    margin-left: 700px;
    margin-top: 150px;
    position: absolute;
  }